/* here you can put your own css to customize and override the theme */
.list-item-content p {
    margin: 0;
}

.btn.fullWidth {
    width: 100% !important;
}


#mainFormLoader {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    z-index: 3000;
}


#mainFormLoader .spinner2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#mainFormLoader .errors {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: 600;
    color: $fanapRed;
    text-align: center;
}


// Spinner 2
.spinner2 {
    margin: auto;
    width: 70px;
    text-align: center;
}

.spinner2 > div {
    width: 18px;
    height: 18px;
    background-color: $fanapOrange;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner2 .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner2 .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
